#main_title{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.cats {
    width: 600px;
    height: 500px;
}

.panel{
    text-align: center;
    align-items: baseline;
}

#counter_o, #counter_p, #o, #g{
    font-weight: bold;
    font-size: 32px;
}

.gridCats{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}