#main_title{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#cat {
    width: 50%;
    height: 50%;
}

.panel{
    text-align: center;
}

#counter{
    font-weight: bold;
    font-size: 32px;
}